body {
    background-color: maroon;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;

}

.topPanel{
    flex: 0 0 40px;
    width: 100%;
    height: 40px;
    background: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 2em;
    font-size: 20px;
    color: green;
}
.componentMenu {
    position: absolute;
}
button {
    width:100%;
}
.scope_wrapper{
    max-width: 300px;
    max-height: 150px;
}
.scope{
    width:100%;
    height: 100%;
}
.over {
    position: absolute;
    z-index: 10;
}
/* Customization to limit height of the menu */
.custom-restricted {
    height: 160px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 4px;
}
.panel {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    background-color: silver;
    margin: 10px;
    padding: 10px 0px;
    border-radius: 8px;
    z-index: 10;
}

.menu{
    background-color: darkgray;
}

.handle{
    height: 10px;
    margin: 5px;
    flex: 0 0 auto;
    justify-content: flex-end;
}

.menuIcon{
    flex: 0 0 auto;

}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.large { font-size: 48px; }

.material-icons.record {color: red;}

.fader {
    display: flex;
    flex-flow: column wrap; 
    align-items: center;
    float: left;
    margin: 4px;
}
.fader span {
    overflow: hidden;
    padding-bottom: 10px;
    font-size: 10px;
}
.sliderWrapper{
    position: relative;
    height: 80px;
    width: 20px;
}
.slider{
    height: 20px;
    width: 80px;
    transform-origin: 40px 40px;
    transform: rotate(-90deg);
}
.flex-row{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.component {
    float: left;
    text-align: center;
    margin: 10px;
}
.faderGroup{
    display:flex;
    flex: 4;
    justify-content: space-around;
    align-content: center;
    flex-flow: row wrap;
    float: left;
}
.groupLabel{  
    text-align: center;
    line-height: 1.5;
    width: 100%;
    float: left;
}
.adsr_display {
    margin-right: 5px;
    float: left;
}
.defaultSize {
    width: 300px;
    height: 200px;
}
.trigger {
    margin: 7px;
    background-color: white;
    width: 50px;
    height: 50px;
    border: 2px solid lightseagreen;
    float: left;
}
.trigger.hit {
    background-color: yellow;
}
.selector{
    background-color: white;
    list-style: none;
    width: 200px;
    height: 28px;
}