body {
    background-color: maroon;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;

    height: 100vh;
}
.topPanel{
    flex: 0 0 40px;
    width: 100%;
    height: 40px;
    background: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 2em;
    font-size: 20px;
    color: green;
}
button {
    width:100%;
}
.scope_wrapper{
    width: 300px;
    height: 150px;
}
.scope{
    width:100%;
    height: 100%;
}
/* Customization to limit height of the menu */
.custom-restricted {
    height: 160px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 4px;
}
.panel {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    background-color: silver;
    margin: 10px;
    padding: 10px 0px;
    border-radius: 8px;
    z-index: 10;
}

.menu{
    background-color: darkgray;
}

.handle{
    margin-right: 20px;
    flex: 0 0 auto;
    justify-content: flex-end;
}
.menuIcon{
    flex: 0 0 auto;

}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.large { font-size: 48px; }

.material-icons.record {color: red;}

.fader {
    flex: 0 0 ;
    width:24px;
    padding: 2px;
    display: flex;
    flex-flow: column wrap;
}
.fader span {
    overflow-x: hidden;
    padding-bottom: 5px;
    flex: 1 0 20px;
    width: 24px;
    font-size: 10px;
}
.sliderWrapper{
    flex: 1 0 80px;
    position: relative;
    height: 80px;
}
.slider{
    height: 20px;
    width: 80px;
    transform-origin: 40px 40px;
    transform: rotate(-90deg);
}
.controlGroup{
    display:inline-flex;
    justify-content: space-around;
    flex-flow:row wrap;
    margin: 10px;
}
.groupLabel{
    order: 0;
    text-align: center;
    line-height: 1.5;
    flex: 1 1 100%;
}
.trigger {
    flex: 0 0 50px;
    order: 1;
    margin-left: 20px;
    align-self: center;
    background-color: white;
    height: 50px;
    border: 2px solid lightseagreen;
}
.trigger.hit {
    background-color: yellow;

}
.selector{
    background-color: white;
    list-style: none;
    width: 200px;
}