body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
 }
.keyboard{
    width: 100%;
    height: 100%;
    border-left: 1px solid black;
    border-bottom:1px solid black;
}
.octave{
    float:left;
    height: 100%;
}
.key{
    float: left;
    height: 40%; /*.stem over-ride*/
    width: 14.2857%; /*.stem over-ride*/
    background: white; /* .black over-ride  */ 
    box-shadow: inset -1px 0px black;
}

.key.active{
    background: #800080;
}
.key.pressed{
    background-color: #AAAAAA;
}
 .stem {
    width: 8.33%;
    height: 60%;
 }
 .black {
    background-color: black;
 }
 
 #keyboardWrapper {
    left: 5vw;
    width: 100vw;
    height: 20vh;
 }
 .sequencer {
     width: 100vw;
     height: 20vh;
     display: flex;
     box-shadow: 1px 1px black;
 }
 .step {
    flex: 1;
    box-shadow: inset 0 0 0 1px black;
 }
 .step.on{
    background-color: purple;
 }
 .now {
     background-color: yellow;
 }
 .step.active{
    box-shadow: inset 0 0 0 3px  blue;
 }
 #quarterPulse {
     float:right;
     width: 5vw;
     height: 5vh;

 }