.wrapper {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 10vh;
    margin: 10px;
}
.keyboard {
    flex: 1 1 1%;
    box-shadow: inset -1px 0px black;
    border-left: 10px solid black;
    border-right: 10px solid black;
  /*  border-bottom: 2em solid black;*/
    background-color: "black";
}


.patchList{
    width: 100px;
    z-index: 20;
    height: 100%;
    overflow-y: hidden;
}
.patchList:hover{
    overflow-y: visible;
    height: 48px;
    z-index:20;
}
.patchList button, input[type="submit"], input[type="reset"] {
    background: black;
    color:rgb(51, 255, 0);
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.octave{
    float:left;
    height: 100%;
}
.key{
    float: left;
    height: 40%; /*.stem over-ride*/
    width: 14.2857%; /*.stem over-ride*/
    background: white; /* .black over-ride  */ 
    box-shadow: inset -1px 0px black;
}
.key.bottom{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.key.active{
    background: #800080;
}
.key.pressed{
    background-color: #AAAAAA;
}
 .stem {
    width: 8.33%;
    height: 60%;
 }
 .black {
    background-color: black;
 }
 
