.sampler {
    position: relative;
    width: 300; /*default */
}
.recordToggle {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.sampleList {
    width:inherit;
}
.sample {
    width: inherit;
    background: white;
    display: block;
    height: 32px; 
}
audio {
    float: left;
}
span{
        line-height: 40px;
}
