.sampler {
    position: relative;
    width: 300; /*default */
}


.recordToggle {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 4;
}

.sample {
    position:relative;
    bottom: 0px;
    width: 100%;
    background: white;
    display: block;
    height: 32px; 
}
audio {
    float: left;
}
span{
        line-height: 40px;
}
